@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro:wght@300;600;700;900&family=Source+Serif+Pro:wght@300;400;600;700;900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(to right,#3f5efb,#fc466b);
    width: 100%;
    height: 100vh;
}
.loginAppCom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}